<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="./show-email_files/css2" rel="stylesheet" />

  </head>
  <body style="font-family: inherit;">
    <div style="width:70%; margin:auto;">

      <div
        style="background: #fb83fa; 
        background: -moz-linear-gradient(-45deg,  #fb83fa 0%, #e93cec 100%); 
        background: -webkit-linear-gradient(-45deg,  #fb83fa 0%,#e93cec 100%); 
        background: linear-gradient(135deg,  #fb83fa 0%,#e93cec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#e93cec',GradientType=1 );  "
      >
        <img
          src="cid:logo"
          alt="AshmarIP"
          width="210px"
          height="70px"
          style="margin: 15px"
        />
        <div
          style="border-radius: 18px;
        margin:10%; 
        background-color: #ffffff;
        text-align: center;"
        >
          <p>
            <br />
            <h1>Remaining Leaves</h1>
          </p>

          <p
            style="text-align: left; font-size: 30px; margin-left: 100px; line-height:45px"
          >
            Hello
            {{Name}},<br />
            Remaining Leaves as of Today<br />Casual Leave (CL)
            {{CL}}
            <br />
            Sick Leave (SL)
            {{SL}}
            <br />
            Paid Leave (PL)
            {{PL}}
          </p>
          <br />
          <p style="font-size: 20px">
            Refer to HR Policy for Utilization of these leaves
          </p>
        </div>
        <br />
        <br />
      </div>
      <footer>
        <div style="margin: 12%">
          <p style="font-size: 16px">
            If you have any questions, feel free message us at
            <a
              href="mailto:anand@monetnetworks.com"
            >anand@monetnetworks.com</a>. All right reserved. Update email
            preferences or 615, Bestech Business Tower, Sector 48, Gurgaon,
            Haryana, India, 122018
          </p>
        </div>

      </footer>
    </div>

  </body>
</html>